.simple-form input, .simple-form select {
  display: block;
  margin-bottom: 1.1em;
}

/*
  For styling $calendar->showMth();
*/
/*
.prev, .nxt {
  color: grey;
}
*/
table.cal-ev {
  border-collapse: collapse;
  margin-top: 0;
}
table.cal-ev a{
  text-decoration: none;
}
table.cal-ev th, table.cal-ev td {
  border: 1px solid lightgray;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
table.cal-ev td {
  padding-left: 0.4em;
}
table.cal-ev td.prev, table.cal-ev td.nxt {
  color: grey;
}
table.cal-ev td.today {
  background-color: lightgray;
}
table.cal-ev td.events {
  color: red;
}
/* I removed day-number-span class as causes a bug.
table.cal-ev span.day-number-span.events{
  border: 1px solid black;
  border-radius: 50%;
  background-color: red;
}
*/
table.cal-ev td.no-events.curr {
  color: black;
}
table.cal-ev td.selected-day {
  text-decoration: underline black;
}
table.cal-ev caption #left-arrow-span, table.cal-ev caption #right-arrow-span{
  font-size: 1.2em;
  margin-bottom: 0;
}

div#day-div span#date-span {
  color: green;
  font-size: large;
}
div#day-div span#add-span a, div#day-div span#delete-event-span a{
  text-decoration: none;
  font-size: large;
  padding-left: 15px;
  color: black;
}
div#day-div article.event-article {
  background: lightgray;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
div#day-div article.event-article p {
  margin-top: 0;
  margin-bottom: 0;
  
}

/*
  caption element is for screen readers etc. It has been replaced by ...
  ... <div id="table-caption-div">
*/
table.cal-ev caption {
  display: none;
}

/**************************************************************

  SECTION FOR <div id="table-caption-div">

*/
div#table-caption-div {
  width: 100%;
  vertical-align: bottom;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ". . l-arrow txt txt txt txt txt txt r-arrow . user-icon";
}

div#table-caption-div span#left-arrow-span {
  grid-area: l-arrow;
  color: red;
  font-size: x-large;
}

div#table-caption-div span#right-arrow-span {
  grid-area: r-arrow;
  color: red;
  margin-left: auto;
  margin-right: 0;
  font-size: x-large;
}

div#table-caption-div span#txt {
  grid-area: txt;
  vertical-align: bottom;
}

div#table-caption-div span#user-icon {
  grid-area: user-icon;
}

table.cal-ev {
  width: 100%;
}

table.cal-ev caption {
  display: none;
}

/***************************************************************
*/

/*
  Media Queries
  For styling $calendar->showMth();
*/


@media (max-width: 480px) {
  table.cal-ev {
    width: 100%;
  }
  table.cal-ev caption{
    font-size: 1.2em;
    padding-bottom: 0.4em;
  }
  table.cal-ev #left-arrow-span {
    padding-right: 1.2em;
  }
  table.cal-ev #right-arrow-span {
    padding-left: 1.2em;
  }
  div#day-div #add-span {
    font-size: 1.2em;
    padding-left: 1.2em;
  }
}
